*{
    margin: 0;
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
}

header{
    margin-top: 35px;
}

.title{
    font-size: 50px;
    text-align: center;
}

.title-1{
    margin-top: 25px ;
    font-size: 50px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 16px;
    color: gray;
}

.text{
    margin-top: 25px;
    margin-bottom: 25px;
}

.link{
    margin-top: 25px;
}

.link-text{
    margin-top: 50px;
    color: aquamarine;
    
}

.footer{
    margin-left: 88%;
    margin-bottom: 20px;
    font-size: 18px;
}

.video{
    margin-top: 25px;
}

.img-site{
    margin-bottom: 25px;
}